@mixin prefix($property, $value, $prefixes: ("-webkit-","-moz-","-o-","-ms-","")) {
  @each $prefix in $prefixes {
    #{$prefix}#{$property}: #{$value};
  }
}

$headerBgColor: #010306;
$bgColorContent: #f8f7f5;
$navBgColor: rgba(#2c0c0c, 1);
$navBgHighlight: rgba(#af0534, 1);
$bodyTextColor: #252525;
$bodyTextSpecialColor: #5d2436;
$bgButton: #aa0932;
$textButton: #fff;

@mixin gradient($from, $to) {
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from, $to);
 
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
 
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from, $to);
 
  /* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to);
}


body {
    background: $headerBgColor;
    background-image: url(../img/texture.png);
}

#header {
    background: $headerBgColor url('../img/races.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .gradient {
      width: 100%;
      height: 50px;
      position: absolute;
      bottom: 0;
      left: 0;
      @include gradient(rgba($headerBgColor,0), $headerBgColor);
    }

    .mask {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 200;
        top: 0;
        left: 0;
        background-image: url(../img/texture.png);
    }
}

#home {
    .logo-header {
        opacity: 0;
        @include prefix('transition', 'opacity 0.7s ease-in 0.4s');
    }
    &.on {
        .logo-header {
            opacity: 1;
        }
    }
}

.logo-header {
    position: absolute;
    z-index: 201;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    text-align: center;
    cursor: pointer;
    opacity: 0; // for loading

    .horsey {
        width: 170px;
        height: 90px;
        background: url("../img/horse-silhouette.png") 0 0 no-repeat;
        position: absolute;
        top: 75px;
        left: 50%;
        margin-left: -85px;
        @include prefix('transform', 'translateX(230px)');
        @include prefix('transition', '0.8s ease-out 0.4s');
        .on & {
            @include prefix('transform', 'translateX(0)');
        }
    }

    .title {
        color: #fff;
        font-family: 'EB Garamond', serif;
        font-size: 54pt;
        text-shadow: 0 0 10px #000;
        line-height: 100%;
        .fancy {
            font-family: Baskerville, serif;
            font-style: italic;
            font-size: 35px;
            display: inline-block;
            position: relative;
            padding-left: 5px;
            .fancy-for {
                position: absolute;
                top: -24px;
            }
            .fancy-the {
                padding-left: 18px;
            }
        }
    }

    .subtitle {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 10pt;
        color: #ccc;
        margin-top: 10px;
        text-shadow: 0 0 1px #000;
        letter-spacing: 2px;
        line-height: 100%;
        &.top {
          padding-bottom: 137px;
        }
    }

    .buttons {
        margin: 20px auto 0 auto;
        width: 280px;
        opacity: 0;
        @include prefix('transition', 'opacity 0.7s ease-in 1.1s');
        .on & {
          opacity: 1;
        }

        .button {
            float: left;
            display: inline-block;
            width: 130px;
            overflow: auto;
            background-color: $bgButton;
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            font-variant: small-caps;
            font-size: 18pt;
            letter-spacing: 1px;
            text-align: center;

            a, a:visited {
                display: inline-block;
                padding-bottom: 4px;
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: $textButton;

                @include prefix('transition', '0.2s');
            }

            a:hover, a:active {
                background-color: darken($bgButton, 5%);
            }
        }

        .button.buy-tickets {
            margin-right: 10px;
        }

        .button.learn-more {
            margin-left: 10px;
        }
    }
}

#other {
    #header {
        height: 220px;
        position: relative;
        background-image: url(../img/static-bg.png);
        background-position: center center;
        .gradient {
            background-color: transparent;
            @include gradient(rgba($headerBgColor,0.0) 0%, $headerBgColor);
        }
        .mask {
            background-color: transparent;
            background-image: url(../img/texture.png);
        }
    }
    #body {
        top: 0px;
        position: relative;
    }
    #footer {
        top: 0px;
        position: relative;
    }
    .logo-header {
        opacity: 1;
        background-position: 0 50%;
        padding-left: 170px;
        text-align: left;
        margin-top: 49px;
        .horsey {
          left: -144px;
          top: 3px;
        }
        .subtitle {
            margin-top: -10px;
        }
        .top, .buttons {
            display: none;
        }
    }
}

body,
#body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: 'EB Garamond', serif;
}

#body {
    display: block;
    background: $bgColorContent;
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 202;
    min-height: 600px;
    top: 2000px; // for loading
    overflow: auto;
    max-width: 1200px;

    .content {
      padding: 40px;
      @include prefix('box-sizing', 'border-box');
    }

    #navigation {
        background-color: $navBgColor;
        border-top: 8px solid $navBgHighlight;
        color: #fff;
        margin: 0;
        padding: 0;
        list-style-type: none;
        z-index: 250;
        overflow: auto;

        li {
            overflow: auto;
            font-family: 'Montserrat', sans-serif;
            float: left;
            height: 70px;
            line-height: 70px;
            padding: 0;
            margin: 0;
            text-align: center;
            font-variant: small-caps;
            font-size: 18pt;
            letter-spacing: 1px;

            a, a:visited {
                display: inline-block;
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: #fff;

                @include prefix('transition', '0.2s');
            }

            a:hover, a:active {
                color: $navBgHighlight;
            }

            .guardsmen-logo {
                height: 80%;
                padding-bottom: 4px;
            }
        }
    }

    .content {

        p {
            color: $bodyTextColor;
            padding: 6px 30px;
            font-size: 15pt;
            line-height: 180%;
        }

        a {
          color: $bgButton;
          text-decoration: none;
          border-bottom: 1px solid rgba($bgButton, 0.2);
          &:hover {
            border-bottom: 1px solid rgba($bgButton, 1);
          }
        }

        h1 {
            font-family: 'EB Garamond', serif;
            color: $bodyTextSpecialColor;
            font-size: 18pt;
            padding: 6px 30px;
        }

        .welcome {
            font-family: 'EB Garamond', serif;
            color: $bodyTextSpecialColor;
            font-size: 18pt;
        }

        .galleria {
            float: right;
            width: 500px;
            height: 333px;
            margin: 20px 30px 20px 20px;
            border: 8px solid #fff;

            @include prefix('box-shadow', '0 0 1px 0 #000');
        }

        hr {
            clear: both;
        }

        .button {
            font-family: 'Montserrat', sans-serif;
            background-color: $bgButton;
            display: block;
            text-shadow: 0 0 1px #000;
            text-align: center;
            font-size: 30pt;

            a, a:visited {
                display: inline-block;
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: #fff;
                font-variant: small-caps;
                letter-spacing: 1px;

                @include prefix('transition', '0.2s');
            }

            a:hover, a:active {
                color: $textButton;
                text-shadow: 0 0 0 #000;
                background-color: darken($bgButton, 5%);
            }
        }

        .button.buy-tickets {
            width: 80%;
            height: 80px;
            line-height: 70px;
            margin: 0 auto;
            overflow: hidden;
        }

        .button.admission {
            padding-top: 12px;
            font-size: 18pt;
            width: 70%;
            height: 80px;
            margin: 0 auto;
            overflow: hidden;

            .price {
                text-align: center;
                display: block;
            }
        }

        .sponsor {

            .content {
                padding: 10px;

                .logo {
                    background-size: cover;
                    width: 160px;
                    height: 160px;
                    margin: 0 auto;
                }

                .logo.sponsor1 {
                    background-image: url('../img/sponsor.png');
                }

                .title {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 11pt;
                    text-align: center;
                }
            }
        }
    }
}

#body.fixedNavigation {
    padding-top: 80px;

    #navigation {
        position: absolute;
        top: 0;
        width: 100%;
    }
}

#big-video-wrap, #big-video-vid {
    position: relative;
    display: none;
}

#footer {
    width: 100%;
    margin: 15px auto;
    position: relative;
    z-index: 100;
    top: 2000px; // for loading

    .content {
        color: #666;
        font-size: 9pt;
        text-align: center;
        padding: 20px;
        a {
            opacity: 0.5;
            @include prefix('transition', 'opacity 0.2s ease-in');
            &:hover {
                opacity: 1;
            }
            img {
                width: 100px;
            }
        }
    }
}
