---
title: About the Guardsmen &mdash; Run for the Roses &mdash; Kentucky Derby Soirée presented by The Guardsmen
---

<div class="pure-u-1-1">
    <h1>About The Guardsmen</h1>
    <p>
        The Guardsmen is a group of Bay Area men mobilizing their significant talents and resources
        to enhance and improve the lives of at-risk youth. This all-volunteer organization, founded
        in 1947, provides access to high-quality educational and outdoor activities for inner-city
        youth. The opportunities created through The Guardsmen’s scholarship and campership programs
        mean that every year kids who otherwise would not have a chance at success are given the
        opportunity to excel as productive members of society. Each year The Guardsmen sends 2,500
        youth to outdoor education programs and provides scholarship support to more than 250
        students at Bay Area private schools.
    </p>
    <p>
        The Guardsmen is committed to making sure that fundraising dollars are spent wisely, with
        the greatest need and highest returns always in mind. In fact, approximately 90 cents of
        every dollar raised goes directly to support programs for kids.
    </p>
    <p>
        For more information, visit <a href="http://guardsmen.org" target="_blank">www.guardsmen.org</a>.
    </p>
</div>

