---
title: Run for the Roses &mdash; Kentucky Derby Soirée presented by The Guardsmen
---

<div class="pure-u-16-24">
    <p class="welcome">
        Please join us May 3rd from 1pm to 6pm at the General’s Residence in Fort Mason to
        celebrate the Run for the Roses, America’s oldest continuous sporting event.
    </p>
</div><div class="pure-u-8-24">
    <p>
        <div class="button buy-tickets"><a href="/tickets">buy tickets</a></div>
    </p>
</div>

<div class="pure-u-1-1">
    <p>
        Guests of this private soirée will enjoy a delectable spread of appetizers and
        traditional southern food provided by some of San Francisco’s finest culinary
        institutions. Make sure to savor a refreshing Mint Julep from our Top Shelf Hosted
        Bar while participating in sporting lawn games with breathtaking views of the
        San Francisco Bay. With multiple projection screens, every seat in the house is sure
        to provide a front-row viewing experience.
    </p>

    <div class="galleria">
        <img src="/img/guests-1.jpg" data-title="" data-description="">
        <img src="/img/guests-2.jpg" data-title="" data-description="">
        <img src="/img/guests-3.jpg" data-title="" data-description="">
        <img src="/img/guests-4.jpg" data-title="" data-description="">
        <img src="/img/guests-5.jpg" data-title="" data-description="">
        <img src="/img/guests-6.jpg" data-title="" data-description="">
        <img src="/img/guests-7.jpg" data-title="" data-description="">
        <img src="/img/guests-8.jpg" data-title="" data-description="">
        <img src="/img/guests-9.jpg" data-title="" data-description="">
        <img src="/img/guests-10.jpg" data-title="" data-description="">
    </div>

    <!-- <p>
        Resembling a Kentucky Plantation house, the Historic General’s Residence at Fort Mason
        is sure to provide a truly unique Derby viewing experience for an exclusive group of 350
        attendees. Guests of this private soirée will enjoy a delectable spread of appetizers and
        traditional southern food provided by some of San Francisco’s finest culinary institutions.
        Make sure to savor a refreshing Mint Julep from our Top Shelf Hosted Bar while participating
        in sporting lawn games with breathtaking views of the San Francisco Bay. With multiple
        projection screens, every seat in the house is sure to provide a front-row viewing experience.
        After the Thoroughbreds we hope you stay and enjoy dancing with Pop Rocks – our live band.
    </p> -->

    <p>
        While this may be known as the Quickest Two Minutes in sport, we guarantee an afternoon
        you will long remember. Private after party to follow.
    </p>
    <p>
        All proceeds from this soirée go to benefit at-risk Bay Area youth.
    </p>
</div>
