---
title: Run for the Roses &mdash; Kentucky Derby Soirée presented by The Guardsmen
---

<div class="button buy-tickets"><a href="">buy tickets</a></div>

<p class="welcome">
    Please join us May 3rd from 1pm to 6pm at the General’s Residence in Fort Mason to
    celebrate the Run for the Roses, America’s oldest continuous sporting event.
</p>

<p>
    Guests of this private soirée will enjoy a delectable spread of appetizers and
    traditional southern food provided by some of San Francisco’s finest culinary
    institutions. Make sure to savor a refreshing Mint Julep from our Top Shelf Hosted
    Bar while participating in sporting lawn games with breathtaking views of the
    San Francisco Bay. With multiple projection screens, every seat in the house is sure
    to provide a front-row viewing experience.
</p>
<img class="inline" src="img/guests.jpg" alt="" />
<p>
    While this may be known as the Quickest Two Minutes in sport, we guarantee an afternoon
    you will long remember. Private after party to follow.
</p>
<p>
    All proceeds from this soirée go to benefit at-risk Bay Area youth.
</p>

<hr />

<p class="welcome">
    A big thank you to our sponsors &mdash;
</p>

<div class="sponsors">
    <div class="sponsor">
        <div class="logo sponsor1"></div>
        <div class="title">ABC, Inc.</div>
    </div>
    <div class="sponsor">
        <div class="logo sponsor1"></div>
        <div class="title">XYZ, Inc.</div>
    </div>
    <div class="sponsor">
        <div class="logo sponsor1"></div>
        <div class="title">Fireball, Inc.</div>
    </div>
    <div class="sponsor">
        <div class="logo sponsor1"></div>
        <div class="title">Cosmos, Inc.</div>
    </div>
</div>