---
title: Sponsors &mdash; Run for the Roses &mdash; Kentucky Derby Soirée presented by The Guardsmen
---

<div class="pure-u-1-1">
    <p class="welcome">
        A big thank you to our sponsors &mdash;
    </p>
    <p>
        With their support, we are able to help make a difference in even more children's lives.
        If you would like to sponsor this or other Guardsmen events, please contact us. We also
        accept donations. Your generosity helps us send 2,500+ children to summer camp and provides
        for 250+ scholarships annually.
    </p>
</div>

<div class="pure-g-r">
    <div class="pure-u-1-4 sponsor">
        <div class="content">
            <div class="logo sponsor1"></div>
            <div class="title">ABC, Inc.</div>
        </div>
    </div>
    <div class="pure-u-1-4 sponsor">
        <div class="content">
            <div class="logo sponsor1"></div>
            <div class="title">ABC, Inc.</div>
        </div>
    </div>
    <div class="pure-u-1-4 sponsor">
        <div class="content">
            <div class="logo sponsor1"></div>
            <div class="title">ABC, Inc.</div>
        </div>
    </div>
    <div class="pure-u-1-4 sponsor">
        <div class="content">
            <div class="logo sponsor1"></div>
            <div class="title">ABC, Inc.</div>
        </div>
    </div>
    <div class="pure-u-1-4 sponsor">
        <div class="content">
            <div class="logo sponsor1"></div>
            <div class="title">ABC, Inc.</div>
        </div>
    </div>
    <div class="pure-u-1-4 sponsor">
        <div class="content">
            <div class="logo sponsor1"></div>
            <div class="title">ABC, Inc.</div>
        </div>
    </div>
    <div class="pure-u-1-4 sponsor">
        <div class="content">
            <div class="logo sponsor1"></div>
            <div class="title">ABC, Inc.</div>
        </div>
    </div>
    <div class="pure-u-1-4 sponsor">
        <div class="content">
            <div class="logo sponsor1"></div>
            <div class="title">ABC, Inc.</div>
        </div>
    </div>
</div>