---
title: Venue &mdash; Run for the Roses &mdash; Kentucky Derby Soirée presented by The Guardsmen
---

<div class="pure-u-1-1">
    <h1>Historic General's Residence at Fort Mason</h1>
    <p>
        Resembling a Kentucky Plantation house, the Historic General's Residence at Fort Mason
        is sure to provide a truly unique Derby viewing experience for an exclusive group of 350
        attendees. Guests of this private soirée will enjoy a delectable spread of appetizers and
        traditional southern food provided by some of San Francisco's finest culinary institutions.
        Make sure to savor a refreshing Mint Julep from our Top Shelf Hosted Bar while participating
        in sporting lawn games with breathtaking views of the San Francisco Bay. With multiple
        projection screens, every seat in the house is sure to provide a front-row viewing experience.
        After the Thoroughbreds we hope you stay and enjoy dancing with Pop Rocks – our live band.
    </p>

    <h1>Traditional Derby attire is strongly encouraged.</h1>
    <p>
        Ladies &mdash; break out your biggest hat and most colorful sundress.<br />
        Gentlemen &mdash; dust off the seersucker and Nantucket reds.<br />
        Prizes will be awarded for best-dressed and most creative to those who display the pinnacle
        of elegance and style.
    </p>

    <h1>Getting There</h1>
    <p>
        The General’s Residence is located at 1 Fort Mason.
    </p>

    <p>
        <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=1+Fort+Mason,+San+Francisco,+CA&amp;ie=UTF8&amp;hq=&amp;hnear=Officers'+Club,+San+Francisco,+California+94109&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
    </p>
</div>
